* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #050515;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
   

}

.ceu-estrelado {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.estrela {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    animation: cair linear infinite;
}

@keyframes cair {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0.2;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 8rem;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: #00000268;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3);
    padding: 0 3rem;
}

.header h1 {
    background: linear-gradient(90deg, #ffffff, rgb(170, 0, 255));
    background-clip: text;
    font-size: 48px;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.header button {
    height: 4rem;
    width: 15rem;
    color: rgb(255, 255, 255);
    background-color: #ffffff30;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #9e9c9ca1;


}

.header button:hover {
    height: 4rem;
    width: 15rem;
    color: rgb(255, 255, 255);
    background-color: rgb(170, 0, 255);
    border-radius: 1.5rem;
    font-size: 1.2rem;
    scale: 1.1;
    border: 2px solid #9e9c9ca1;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

}

.NAV {
    background-color: #000002;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 10px 20px;
    border-radius: 2rem;
    z-index: 9999;
}

.NAV a {
    display: inline-block;
    color: rgb(255, 255, 255);
    transition: transform 0.1s ease, color 0.2s ease;
}

.NAV a:not(:last-child) {
    margin-right: 1.5rem;
}

.NAV a:hover {
    
    color: rgb(170, 0, 255);
}

.NAV a svg {
    width: 32px;
    height: 32px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0000023e;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    color: #ffffff;
    padding-left: 3rem;
    padding-right: 3rem;

}

.footer h1 {
    background: linear-gradient(90deg, #ffffff, rgb(170, 0, 255));
    background-clip: text;
    font-size: 28px;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 10rem;
    padding-top: 5rem;
}

.versao {
    color: #f6dfff;
    background-color: #3b0150;
    text-align: center;
    list-style: none;
    border-radius: 2rem;
    width: 20rem;
    height: 3rem;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
     border: 6px solid #bb00ff;


}

.main {
    color: white;
    font-size: 10rem;
    margin-bottom: 0;
    line-height: 0.9;
}

main h2 {
     background: linear-gradient(90deg, #8000ae, hsl(284, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    margin-top: 3rem;
    line-height: 0.9;
    margin-bottom: 4rem;
}

main p {
    color: #ffffff83;
    max-width: 1024px;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main h3 {
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.card {
    display: grid;
    align-items: center;
    color: white;
    background-color: #000002;
    width: 32rem;
    height: 15rem;
    border-radius: 2rem;
    padding: 1rem;
}

.card svg {
    width: 4rem;
    height: 2.5rem;
    background-color: #3b0150;
    border-radius: 4rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card h1 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card p {
    color: #9e9c9ca1;
    margin-left: 1rem;
    margin-right: 1rem;
}

.recursos {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 100%;
    margin-left: 12rem;

}

.recursos h1 {
    color: #bb00ff;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3.5rem;
}
.recursos h3{
    color: rgb(117, 117, 117);
    margin-bottom: 2rem;
}
.recursos p{
    color: rgba(255, 255, 255, 0.431);
    margin-bottom: 2rem;
}
.botao{
   display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13rem;
}
.ativo{
    color: rgb(170, 0, 255);
    transform: translateY(-5px);
}
.comece{
    background: linear-gradient(90deg, #3b0150, rgb(170, 0, 255));
    cursor: pointer;
    color: white;
    width: 15rem;
    height: 4rem;
    border-radius: 6rem;
    border: 2px #ffffffa1;
    margin-right: 1rem;
}
.demo{
    background-color: #ffffff00;
    color: #9e9c9ca1;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    border-radius: 6rem;
    border: 2px solid #9e9c9ca1;

}
.demo:hover{
    background-color: #ffffff00;
    color: #ffffff;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    border-radius: 6rem;
    border: 2px solid #ffffff;
}
.comece:hover{
    scale: 1.1;
}